--
-- PostgreSQL database dump
--

\restrict b90XBLcKY6OEbRyiNGDT00NUiBpaIbwKgBLLOe6cJkvK7c11642xa0CQRDuvOD6

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg12+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: chunk_embeddings; Type: TABLE; Schema: public; Owner: fyp
--

CREATE TABLE public.chunk_embeddings (
    id integer NOT NULL,
    chunk_id integer NOT NULL,
    embedding_json text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.chunk_embeddings OWNER TO fyp;

--
-- Name: chunk_embeddings_id_seq; Type: SEQUENCE; Schema: public; Owner: fyp
--

CREATE SEQUENCE public.chunk_embeddings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.chunk_embeddings_id_seq OWNER TO fyp;

--
-- Name: chunk_embeddings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fyp
--

ALTER SEQUENCE public.chunk_embeddings_id_seq OWNED BY public.chunk_embeddings.id;


--
-- Name: concept_history; Type: TABLE; Schema: public; Owner: fyp
--

CREATE TABLE public.concept_history (
    id integer NOT NULL,
    student_id bigint NOT NULL,
    submission_id integer NOT NULL,
    service text,
    clusterip_nodeport text,
    networkpolicy text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.concept_history OWNER TO fyp;

--
-- Name: concept_history_id_seq; Type: SEQUENCE; Schema: public; Owner: fyp
--

CREATE SEQUENCE public.concept_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.concept_history_id_seq OWNER TO fyp;

--
-- Name: concept_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fyp
--

ALTER SEQUENCE public.concept_history_id_seq OWNED BY public.concept_history.id;


--
-- Name: feedback_results; Type: TABLE; Schema: public; Owner: fyp
--

CREATE TABLE public.feedback_results (
    id integer NOT NULL,
    submission_id integer NOT NULL,
    grade text,
    feedback_text text,
    feedback_json json,
    confidence text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.feedback_results OWNER TO fyp;

--
-- Name: feedback_results_id_seq; Type: SEQUENCE; Schema: public; Owner: fyp
--

CREATE SEQUENCE public.feedback_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.feedback_results_id_seq OWNER TO fyp;

--
-- Name: feedback_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fyp
--

ALTER SEQUENCE public.feedback_results_id_seq OWNED BY public.feedback_results.id;


--
-- Name: similarity_results; Type: TABLE; Schema: public; Owner: fyp
--

CREATE TABLE public.similarity_results (
    id integer NOT NULL,
    chunk_id integer NOT NULL,
    matched_chunk_id integer NOT NULL,
    similarity_score text NOT NULL,
    decision character varying,
    evidence_note text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.similarity_results OWNER TO fyp;

--
-- Name: similarity_results_id_seq; Type: SEQUENCE; Schema: public; Owner: fyp
--

CREATE SEQUENCE public.similarity_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.similarity_results_id_seq OWNER TO fyp;

--
-- Name: similarity_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fyp
--

ALTER SEQUENCE public.similarity_results_id_seq OWNED BY public.similarity_results.id;


--
-- Name: student_profile; Type: TABLE; Schema: public; Owner: fyp
--

CREATE TABLE public.student_profile (
    student_id bigint NOT NULL,
    weak_concepts text,
    last_feedback_summary text,
    last_grade text,
    trend character varying,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.student_profile OWNER TO fyp;

--
-- Name: student_profile_student_id_seq; Type: SEQUENCE; Schema: public; Owner: fyp
--

CREATE SEQUENCE public.student_profile_student_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.student_profile_student_id_seq OWNER TO fyp;

--
-- Name: student_profile_student_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fyp
--

ALTER SEQUENCE public.student_profile_student_id_seq OWNED BY public.student_profile.student_id;


--
-- Name: submission_chunks; Type: TABLE; Schema: public; Owner: fyp
--

CREATE TABLE public.submission_chunks (
    id integer NOT NULL,
    submission_id integer NOT NULL,
    question_no integer NOT NULL,
    chunk_text text NOT NULL,
    cleaned_text text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.submission_chunks OWNER TO fyp;

--
-- Name: submission_chunks_id_seq; Type: SEQUENCE; Schema: public; Owner: fyp
--

CREATE SEQUENCE public.submission_chunks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.submission_chunks_id_seq OWNER TO fyp;

--
-- Name: submission_chunks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fyp
--

ALTER SEQUENCE public.submission_chunks_id_seq OWNED BY public.submission_chunks.id;


--
-- Name: submissions; Type: TABLE; Schema: public; Owner: fyp
--

CREATE TABLE public.submissions (
    id integer NOT NULL,
    moodle_submission_id bigint,
    assignment_id bigint NOT NULL,
    course_id bigint NOT NULL,
    student_id bigint NOT NULL,
    raw_text text,
    cleaned_text text,
    status character varying,
    plagiarism_flag boolean,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.submissions OWNER TO fyp;

--
-- Name: submissions_id_seq; Type: SEQUENCE; Schema: public; Owner: fyp
--

CREATE SEQUENCE public.submissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.submissions_id_seq OWNER TO fyp;

--
-- Name: submissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fyp
--

ALTER SEQUENCE public.submissions_id_seq OWNED BY public.submissions.id;


--
-- Name: chunk_embeddings id; Type: DEFAULT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.chunk_embeddings ALTER COLUMN id SET DEFAULT nextval('public.chunk_embeddings_id_seq'::regclass);


--
-- Name: concept_history id; Type: DEFAULT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.concept_history ALTER COLUMN id SET DEFAULT nextval('public.concept_history_id_seq'::regclass);


--
-- Name: feedback_results id; Type: DEFAULT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.feedback_results ALTER COLUMN id SET DEFAULT nextval('public.feedback_results_id_seq'::regclass);


--
-- Name: similarity_results id; Type: DEFAULT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.similarity_results ALTER COLUMN id SET DEFAULT nextval('public.similarity_results_id_seq'::regclass);


--
-- Name: student_profile student_id; Type: DEFAULT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.student_profile ALTER COLUMN student_id SET DEFAULT nextval('public.student_profile_student_id_seq'::regclass);


--
-- Name: submission_chunks id; Type: DEFAULT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.submission_chunks ALTER COLUMN id SET DEFAULT nextval('public.submission_chunks_id_seq'::regclass);


--
-- Name: submissions id; Type: DEFAULT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.submissions ALTER COLUMN id SET DEFAULT nextval('public.submissions_id_seq'::regclass);


--
-- Data for Name: chunk_embeddings; Type: TABLE DATA; Schema: public; Owner: fyp
--



--
-- Data for Name: concept_history; Type: TABLE DATA; Schema: public; Owner: fyp
--

COPY public.concept_history (id, student_id, submission_id, service, clusterip_nodeport, networkpolicy, created_at) FROM stdin;
1	302	14	0.75	0.8	0.7	2026-02-12 15:11:03.105857+00
2	302	14	0.75	0.7	0.68	2026-02-12 18:02:37.042574+00
3	302	14	0.85	0.85	0.85	2026-02-12 18:15:16.146606+00
4	302	14	0.75	0.8	0.8	2026-02-12 18:55:16.149927+00
\.


--
-- Data for Name: feedback_results; Type: TABLE DATA; Schema: public; Owner: fyp
--



--
-- Data for Name: similarity_results; Type: TABLE DATA; Schema: public; Owner: fyp
--

COPY public.similarity_results (id, chunk_id, matched_chunk_id, similarity_score, decision, evidence_note, created_at) FROM stdin;
1	35	29	0.9000693867277213	flagged	High similarity on Q2 with submission 12	2026-02-12 14:14:45.251707+00
\.


--
-- Data for Name: student_profile; Type: TABLE DATA; Schema: public; Owner: fyp
--

COPY public.student_profile (student_id, weak_concepts, last_feedback_summary, last_grade, trend, updated_at) FROM stdin;
302	["service", "clusterip_nodeport"]	You demonstrated a strong grasp of Kubernetes Services, including ClusterIP, NodePort, and NetworkPolicies, effectively covering DNS, traffic distribution, and access restriction. ...	100.0	stable	2026-02-12 15:11:03.105857+00
\.


--
-- Data for Name: submission_chunks; Type: TABLE DATA; Schema: public; Owner: fyp
--



--
-- Data for Name: submissions; Type: TABLE DATA; Schema: public; Owner: fyp
--



--
-- Name: chunk_embeddings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fyp
--

SELECT pg_catalog.setval('public.chunk_embeddings_id_seq', 15, true);


--
-- Name: concept_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fyp
--

SELECT pg_catalog.setval('public.concept_history_id_seq', 4, true);


--
-- Name: feedback_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fyp
--

SELECT pg_catalog.setval('public.feedback_results_id_seq', 7, true);


--
-- Name: similarity_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fyp
--

SELECT pg_catalog.setval('public.similarity_results_id_seq', 1, true);


--
-- Name: student_profile_student_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fyp
--

SELECT pg_catalog.setval('public.student_profile_student_id_seq', 1, false);


--
-- Name: submission_chunks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fyp
--

SELECT pg_catalog.setval('public.submission_chunks_id_seq', 36, true);


--
-- Name: submissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fyp
--

SELECT pg_catalog.setval('public.submissions_id_seq', 14, true);


--
-- Name: chunk_embeddings chunk_embeddings_chunk_id_key; Type: CONSTRAINT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.chunk_embeddings
    ADD CONSTRAINT chunk_embeddings_chunk_id_key UNIQUE (chunk_id);


--
-- Name: chunk_embeddings chunk_embeddings_pkey; Type: CONSTRAINT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.chunk_embeddings
    ADD CONSTRAINT chunk_embeddings_pkey PRIMARY KEY (id);


--
-- Name: concept_history concept_history_pkey; Type: CONSTRAINT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.concept_history
    ADD CONSTRAINT concept_history_pkey PRIMARY KEY (id);


--
-- Name: feedback_results feedback_results_pkey; Type: CONSTRAINT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.feedback_results
    ADD CONSTRAINT feedback_results_pkey PRIMARY KEY (id);


--
-- Name: similarity_results similarity_results_pkey; Type: CONSTRAINT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.similarity_results
    ADD CONSTRAINT similarity_results_pkey PRIMARY KEY (id);


--
-- Name: student_profile student_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.student_profile
    ADD CONSTRAINT student_profile_pkey PRIMARY KEY (student_id);


--
-- Name: submission_chunks submission_chunks_pkey; Type: CONSTRAINT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.submission_chunks
    ADD CONSTRAINT submission_chunks_pkey PRIMARY KEY (id);


--
-- Name: submissions submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.submissions
    ADD CONSTRAINT submissions_pkey PRIMARY KEY (id);


--
-- Name: submission_chunks uq_submission_question; Type: CONSTRAINT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.submission_chunks
    ADD CONSTRAINT uq_submission_question UNIQUE (submission_id, question_no);


--
-- Name: ix_chunk_embeddings_id; Type: INDEX; Schema: public; Owner: fyp
--

CREATE INDEX ix_chunk_embeddings_id ON public.chunk_embeddings USING btree (id);


--
-- Name: ix_concept_history_id; Type: INDEX; Schema: public; Owner: fyp
--

CREATE INDEX ix_concept_history_id ON public.concept_history USING btree (id);


--
-- Name: ix_feedback_results_id; Type: INDEX; Schema: public; Owner: fyp
--

CREATE INDEX ix_feedback_results_id ON public.feedback_results USING btree (id);


--
-- Name: ix_similarity_results_id; Type: INDEX; Schema: public; Owner: fyp
--

CREATE INDEX ix_similarity_results_id ON public.similarity_results USING btree (id);


--
-- Name: ix_student_profile_student_id; Type: INDEX; Schema: public; Owner: fyp
--

CREATE INDEX ix_student_profile_student_id ON public.student_profile USING btree (student_id);


--
-- Name: ix_submission_chunks_id; Type: INDEX; Schema: public; Owner: fyp
--

CREATE INDEX ix_submission_chunks_id ON public.submission_chunks USING btree (id);


--
-- Name: ix_submissions_id; Type: INDEX; Schema: public; Owner: fyp
--

CREATE INDEX ix_submissions_id ON public.submissions USING btree (id);


--
-- Name: chunk_embeddings chunk_embeddings_chunk_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.chunk_embeddings
    ADD CONSTRAINT chunk_embeddings_chunk_id_fkey FOREIGN KEY (chunk_id) REFERENCES public.submission_chunks(id) ON DELETE CASCADE;


--
-- Name: concept_history concept_history_submission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.concept_history
    ADD CONSTRAINT concept_history_submission_id_fkey FOREIGN KEY (submission_id) REFERENCES public.submissions(id) ON DELETE CASCADE;


--
-- Name: feedback_results feedback_results_submission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.feedback_results
    ADD CONSTRAINT feedback_results_submission_id_fkey FOREIGN KEY (submission_id) REFERENCES public.submissions(id) ON DELETE CASCADE;


--
-- Name: similarity_results similarity_results_chunk_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.similarity_results
    ADD CONSTRAINT similarity_results_chunk_id_fkey FOREIGN KEY (chunk_id) REFERENCES public.submission_chunks(id) ON DELETE CASCADE;


--
-- Name: similarity_results similarity_results_matched_chunk_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.similarity_results
    ADD CONSTRAINT similarity_results_matched_chunk_id_fkey FOREIGN KEY (matched_chunk_id) REFERENCES public.submission_chunks(id) ON DELETE CASCADE;


--
-- Name: submission_chunks submission_chunks_submission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fyp
--

ALTER TABLE ONLY public.submission_chunks
    ADD CONSTRAINT submission_chunks_submission_id_fkey FOREIGN KEY (submission_id) REFERENCES public.submissions(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict b90XBLcKY6OEbRyiNGDT00NUiBpaIbwKgBLLOe6cJkvK7c11642xa0CQRDuvOD6

